.App {
  background-color: #f4f0e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__header {
  text-align: center;
  color: #f74700;
  padding: 20px;
}

.user {
  background-color: white;
  width: 300px;
  border: 1px solid #f74700;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
}

.users {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.users > .user {
  display: none;
}

.user__details > h1 {
  font-size: 25px;
}

.profiles {
  display: grid;
  grid-gap: 30px;
  grid-template: 150px/ 362px 362px 362px;
}

.profiles > .user > div > a > img {
  width: 40px;
  margin-left: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f74700;
  color: white;
  text-align: center;
  padding: 5px;
}

.footer > a {
  color: white;
  text-decoration: none;
}

.app__desc {
  text-align: center;
  max-width: 60%;
  font-size: 20px;
}

.app__desc > h2 {
  margin-top: 20px;
  color: #f74700;
}

@media only screen and (max-width: 600px) {
  .profiles {
    display: flex;
    flex-direction: column;
  }

  .user {
    padding: 20px;
  }

  .app__desc {
    max-width: 80%;
  }
}
